*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eaeded;
}

/* Navbar */
.navbar{
    background:#131921;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#ff9900;
}

.search-box{
    display:flex;
    width:50%;
}

.search-box input{
    width:100%;
    padding:10px;
    border:none;
}

.search-box button{
    background:#febd69;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

/* Hero */
.hero{
    height:350px;
    background:url("https://images.unsplash.com/photo-1523275335684-37898b6baf30?w=1200")
    center/cover;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-shadow:2px 2px 5px black;
}

.hero h1{
    font-size:50px;
}

.hero p{
    font-size:22px;
}

/* Products */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}

.card{
    background:white;
    padding:15px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    border-radius:8px;
}

.card h3{
    margin:10px 0;
}

.card p{
    color:green;
    font-weight:bold;
}

.card button{
    background:#ff9900;
    border:none;
    padding:10px 20px;
    margin-top:10px;
    cursor:pointer;
    border-radius:5px;
}

/* Footer */
footer{
    background:#232f3e;
    color:white;
    text-align:center;
    padding:20px;
}